Language: Cpp
IndentWidth: 4
IndentCaseLabels: true
ColumnLimit: 120
ReflowComments: false
Cpp11BracedListStyle: false
PointerAlignment: Right
BreakBeforeBinaryOperators: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignConsecutiveAssignments: true
AlignTrailingComments: Always
SortIncludes: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
